*{
    box-sizing: border-box;
}
body {
    background-color: #EDF2F8;
    display: flex;
    justify-content: center;   
}
#inner-body {
    display: flex;
    width: 80%;
    margin-top: 30px;
}
#left-side {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin-right: 1%;

}
#right-side {
    width: 22%;
    margin-left: 0;
}
#left-side > div {
    padding: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
}
@media (max-width: 600px) {
    #inner-body {
        display: block;
    }
    #left-side, #right-side {
        width: 100%;
    }
    div #left-side > div {
        width: 100%;
        margin-bottom: 25px;
    }
    div #jeanette{
        margin-right: 0px;
    }

}
h1 {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}
p {
    opacity: 0.4;
    font-size: 12px;
}
.verified-graduate{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
    opacity: 0.4;
}
img {
    float: left;
    border-radius: 50%;
    margin-right: 20px;
    width: 30px;
    height: 30px;
}
h2 {
    clear: left;
    font-size: 17px;
}
#daniel{
    background-image: url("../images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: 80% 0%;
    background-color: #733FC8;
    width: 64%;
    margin-right: 4%;
    margin-bottom: 25px;
    color: white;
}
#jonathan{
    background-color: #49556B;
    width: 30%;
    margin-bottom: 25px;
    color: white;
}
#jeanette{
    background-color: #FFFFFF;
    width: 30%;
    margin-right: 5%;
}
#patrick{
    background-color: #18202D;
    width: 62%;
    color: white;
}
#kira{
    background-color: #FFFFFF;
    padding: 27px;
    border-radius: 10px;
}